<?xml version="1.0"?>
<config>
  <!--系统参数-->
  <system>
  	<!--推流地址，不包含流名称-->
  	<rtmp>rtmp://114.80.224.9:1936/live</rtmp>
	<!--结束信息-->
  	<endInfo>
  		<!--提示文本-->
  		<text>您已完成了视频录制</text>
  		<!--背景图路径-->
  		<image>/static/scripts/bg.jpg</image>
  	</endInfo>
  	<!--视频路径-->
    <video>
    	<!--开始视频-->
    	<start>
		<!--视频路径-->
		<url>video/5.flv</url>
		<!--预览图-->
    		<image></image>
	</start>
    	<!--结束视频-->
    	<end>
		<url>video/4.flv</url>
		<image></image>
	</end>
    	<!--其它视频-->
    	<others>
    		<other>
    			<!--视频路径-->
    			<url>video/1.flv</url>
    			<!--提示文本-->
    			<text>请您说出：本人是XXX，身份证号XXXXXXXXXXXXXXXXXX。</text>
			<!--预览图-->
    			<image>/static/scripts/viedo.jpg</image>
    			<!-- 
    				是否在自己画面中显示身份证位置框
    				0：不显示
    				1：显示
    				默认：0
    			 -->
    			 <showFrame>1</showFrame>
    		</other>
    		<other>
    			<url>video/2.flv</url>
    			<text>请回答：是的，本人已经全部阅读并理解。</text>
			<image></image>
    		</other>
    		<other>
    			<url>video/3.flv</url>
    			<text>请回答：是的，我认可宣传片所述内容。</text>
			<image></image>
    		</other>
    	</others>
    </video>
  </system>
  <!--摄像头参数-->
  <camera>
    <!--索引，从0开始-->
    <index>0</index>
    <!--帧率-->
    <fps>15</fps>
    <!--宽度-->
    <width>640</width>
    <!--高度-->
    <height>480</height>
  </camera>
  <!--麦克风参数-->
  <microphone>
  	<!--索引，从0开始-->
  	<index>0</index>
  	<!--音量，范围：0 - 100-->
    <gain>100</gain>
    <!--
    	回环
    	0：false
    	1：true
    -->
    <loopBack>0</loopBack>
  </microphone>
  <!--推流参数-->
  <push>
	<!--音频参数-->
  	<audio>
  	  <!-- 
  	  	是否使用高级音频 
  	  	0：false 
  	  	1：true 
  	  -->
      <enhanced>1</enhanced>
      <!--
      	使用高级音频时的操作模式
       	0：FULL_DUPLEX 
       	1：HALF_DUPLEX 
       	2：HEADSET 
       	3：SPEAKER_MUTE 
       	4：OFF
      -->
      <mode>0</mode>
      <!-- 
      	音频编码
      	0：Nellymoser 
      	1：Speex 
      -->
      <codec>0</codec>
      <!-- 
      	回声路径
      	0：128 
      	1：256 
      -->
      <echoPath>0</echoPath>
      <!-- 
      	音频采样率
      	0：44 
      	1：22 
      	2：11 
      	3：8 
      	4：5
      -->
      <rate>3</rate>
      <!-- 
      	是否采用非线性处理
      	0：false 
      	1：true 
      -->
      <nonLinearProcessing>1</nonLinearProcessing>
    </audio>
    <!--视频参数-->
    <video>
      <!--关键帧间隔，范围：1 - 48-->
      <keyFrameInterval>10</keyFrameInterval>
      <!--码率，单位：mbps-->
      <bandWidth>300</bandWidth>
      <!--编码质量，范围：0 - 100-->
      <quality>50</quality>
    </video>
  </push>
</config>